div.dita_source {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #000000;
  color: #111111;
  display: block;
  font-family: courier,monospace;
  margin: 1em;
  padding-left: 6px;
  white-space: pre;
  overflow:auto;
}

