div.embedded_dita_topic h1 {
  display: none;
}

div.embedded_dita_topic span.q {
  display: block;
  margin: 1em;
  background: #eee;
  border: 1px solid #000;
  font-family: courier,monospace;
  color: #111;
  white-space:pre;
  padding-left: 6px;
  overflow: auto;
}
